.home-content{
    padding: 100px 0 20px 0;
    
    
}

.hero-section{
    padding: 100px 0px;
    min-height: 70vh;
    
}



.hero-section h1{
    font-family: 'Nevan';
    font-size: 6rem !important;
    color:rgb(143, 0, 255);
}

.hero-section h3{
    font-weight: 300;
}

.brand-marquee {
    font-size: 6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 5rem;
    opacity: 1;
}

.marquee-1{
    font-size: 8rem !important;
    line-height: 6rem;
    filter: drop-shadow(0px 0px 10px rgba(143, 0, 255, 0.65));
}

.marquee-0, .marquee-2{
    opacity: 0.1;
}

.map-container, .game-container, .leaderboard-container {
    min-height: 400px !important;
    }

.game-container, .leaderboard-container{
    background-color: #2c2c2c !important;
    
}

.game-section{
    position: relative;
}

.game-section::before{
    content: '';
    position: absolute;
    top:0;
    left:0%;
    width: 100%;
    height: 100%;
    background: url(../../../public/assets/images/game-section-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
}
.podium-container{
    width: 100%;
    height: 175px;
    padding:0 1rem ;
    color: white;

}
.podium-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    align-items:flex-end;

}
.podium-wrapper>*{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 5px;
    
}
.podium-wrapper>* .podium-name{
font-size: 16px;
font-weight: 500;
}
.podium-wrapper>* .podium-score{
font-size: 13px;
font-weight: 500;
color: #9a9696;
margin-bottom: 8px;
}
.podium-wrapper .first-place-podium span.podium-score{
    color: #D6D476;
}

.podium-wrapper>* .podium{
    background-color: #6C02D7;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-weight: 900;
}
.podium-wrapper .second-place-podium .podium{
    height: 80px;
}
.podium-wrapper .third-place-podium .podium{
    height: 65px;
}

.mobile-screen{
    position: relative;
}

.mobile-screen img.hero-bg{
    position: absolute;
    left: 0;
    top: -20%;
    z-index: -1;
    width: 140%;
    height: 140%;
}



.app-store{
max-height: 80px !important;

}

.apple{
    width: 180px !important;
}

.google{
    width: 200px !important;
}

.hyperapp-slider {
    background-image: url('../../../public/assets/images/app-screens-bg.png');
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
}

.hypergame-bg {
    background-image: url('../../../public/assets/images/games-slides-bg.png');
    background-position: 50%;
    background-size: cover;
    border-radius: 25px !important;
    padding: 0;
    margin-top: 10vh !important;
}

.slides-wrapper {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    padding: 40px !important;
    border-radius: 25px !important;
    filter: drop-shadow(0px 0px 40px rgba(143, 0, 255, 0.4));
    
}

.slides-container {
    background-image: url('../../../public/assets/images/games-slides-bg.png');
    background-position: 50%;
    background-size: cover;
    border-radius: 15px;
    height: 30vh;
    padding: 40px;
    position: relative;
}

.game-card {
    background: rgba(39,39,39,.2) !important;
    border: 1px solid #515151 !important;
    border-radius: 10px !important;
    -webkit-backdrop-filter: blur(10px) !important;
    backdrop-filter: blur(10px) !important;
}

.game-card {
    font-size: 0.8rem !important;
}

.like-btn {
    background: #222121 !important;
    border-radius: 5px !important;
    color: #04fda3 !important;
}

.nft-section{
    margin-top: 30vh !important;
    background-image: url('../../../public/assets/images/game-section-bg.png');
    background-position: 0% center;
    background-size: contain;
    background-repeat: no-repeat;
}
/* team section */
.team-list{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-gap: 3rem 1.5rem;
}
.team-member-card{

}
.team-member-card img{
    width: 100%;
}
.team-member-card .member-name{
    text-transform: uppercase;
    font-size: 1.2rem;
    margin: 5px 0;
}
.team-member-card .member-role{
    font-size: 1rem;
    color: #727272;
    text-transform: uppercase;
}
.partners-filter-btns{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    margin-bottom: 4rem;
}
.partners-filter-btns button{
    background-color: #8f00ff;
    color: white;
    font-size: 1.2rem;
    text-transform: uppercase;
    padding: 0.3rem 2rem;
    margin: 0.5rem 0.5rem;
    border: none;
    border-radius: 8px;
}

.logos-container{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-gap: 4rem 5%;
    justify-content: center;
}
.logos-container .logo-img {
    display: flex;
    align-items: center;
    justify-content: center;
}
.logos-container .logo-img img{
    width: 100% ;
}
.roadmap-section-row{
    display: grid;
    grid-template-columns: repeat(4,1fr);

    align-items: center;
    grid-gap: 1.5rem;
    margin-bottom: 2rem;
}
.roadmap-section-row .item-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.roadmap-section-row-1::before{
    width: 95%;
    position: absolute;
    left: 50%;
    top: calc(100% + 1rem);
    height: 5px;
    background-color: #424242;
    content: "";
    border-radius: 5px;
    transform: translate(-50%);
}
.waves-image-wrapper{
    position: absolute;
    top: 15%;
    left: 0;
    z-index: 0;
    width: 100%;
    opacity: 0.1 ;
    z-index :-1;
}
.waves-image-wrapper img{
    width: 100%;
}
.circular-title-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
}
.circular-title{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 100rem;
    width: 140px;
    height: 140px;
    background: linear-gradient(64.97deg, #6C02D7 9.96%, #C602D7 84.15%);
    filter: drop-shadow(0px 0px 20px rgba(248, 9, 224, 0.4))
}
.circular-title h2{
    font-size: 2.5rem;
    margin-bottom: 0rem;

}
.overlay-1{
    position: absolute;
    left: 20%;
    top: 10%;

    width: 100px!important;
}
.overlay-2{
    position: absolute;
    left: 70%;
    top: 10%;

    width: 150px!important;
}
.overlay-3{
    position: absolute;
    left: 0;
    top: 35%;

    width: 130px!important;
}
.overlay-4{
    position: absolute;
    left: 50%;
    bottom: 0;
transform: translateX(-50%);
    width: 100px!important;
}


.roadmap-section-row .text-list{
    width: 100%;
    background: linear-gradient(64.97deg, #6C02D7 9.96%, #C602D7 84.15%);
    border-radius: 15px;
    color: white;
    padding: 1rem 10%;
    margin: 3rem  1rem 0;
    list-style: inside;

}


.roadmap-section-row .text-list li{
    width: fit-content;
}

.mobile-video{
    max-width: 200px;
}

.ReactModal__Content .ReactModal__Content--after-open{
    background: rgb(255 255 255 / 0%) !important;
    overflow: hidden !important;    
    backdrop-filter: blur(10px) !important;
}



/*GLITCH EFFECT*/

/* GLITH ENDS */



@media only screen and (max-width: 414px){
    

    .hero-section{
        padding: 140px 0px 10px 0px;
        min-height: 40vh;
        
    }
    
    .hero-section h1{
        
        font-size: 2rem !important;
    }
    
    .hero-section h3{
        font-weight: 300;
        font-size: 1rem;
    }


    .marquee-1{
        font-size: 4rem !important;
        line-height: 3rem;
        
    }
    
    .marquee-0, .marquee-2{
        font-size: 4rem;
    }

    .game-section::before{
       
        top:0;
        left:0%;
        width: 60%;
        height: 60%;
        
    }
    
    .mobile-screen img.hero-bg{
       
        left: 0;
        top: -30%;
        z-index: -1;
        width: 80%;
        height: 80%;
    }

    .slides-wrapper {
        
        padding: 10px !important;        
    }

    .game-card{
        margin-left: 50px !important;
        margin-right: 50px !important;
    }
    

}
@media only screen and (max-width: 1200px){
    .team-list{
        grid-template-columns: repeat(5,1fr);
    }
    .roadmap-section-row{
        grid-template-columns: repeat(3,1fr);
    
    }
    .logos-container{
        grid-template-columns: repeat(5,1fr);
    }
}
@media only screen and (max-width: 1000px){
    .team-list{
        grid-template-columns: repeat(4,1fr);
    }
    .logos-container{
        grid-template-columns: repeat(4,1fr);
    }
    
}
@media only screen and (max-width: 800px){
    .team-list{
        grid-template-columns: repeat(3,1fr);
    }
    
    .logos-container{
        grid-template-columns: repeat(3,1fr);
    }
    .roadmap-section-row{
        grid-template-columns: repeat(2,1fr);
    
    }
    .overlay-1,.overlay-2,.overlay-3,.overlay-4{
        display: none;
    }
}
@media only screen and (max-width: 600px){
    .team-list{
        grid-template-columns: repeat(2,1fr);
    }
    
    .logos-container{
        grid-template-columns: repeat(2,1fr);
        grid-gap: 1.5rem 5%;
    }
    
    .roadmap-section-row{
        grid-template-columns: repeat(1,1fr);
    
    }
    
}
