.canvas-element{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.75;
}
.coming-soon-msg{
    width: fit-content;
    margin: 35vh auto 50vh;
    position: relative;
    text-align:center ;
}
.coming-soon-msg h1{
    font-size: 3rem;
    text-align: center;
    color: #6c02d7;
    
}
