.nft-modal-cross-btn{
    border: none;
    background-color: transparent;
    position: absolute;
    left: 4%;
    top: 1rem;
    width: 2.5rem;
}
.nft-modal-cross-btn img{
    width: 100%;
}
.nft-modal-text{
    text-align: center;
    width: 100%;
    display: block;
    color: #222222;
    height: 10%;
    margin: 0 auto;
    margin-top: 2rem;
}
.nft-modal-iframe-container{
    height: 100%;
    width: 90%;
}