:root {
  --color-dark-sec: #1f1f1f;
  --primary-color: #6c02d7;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
img {
  display: block;
  font-size: 0rem;
}
.play-to-earn-page,
.header-top-padding {
  margin-top: 135px;
  position: relative;
}

.sub-nav-menu-btn {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 3rem;
  padding: 5px;
  background: #353535;
  border-radius: 5px 0 0 0;
  border: none;
  display: none;
  img {
    width: 100%;
  }
}
.profile-page {
  // padding: 0 10px;
  display: flex;
  align-items: stretch;
  min-height: 100vh;
  .profile-info-container {
    margin: 5px;
    border-radius: 10px;
    margin-right: 5px;
    padding: 1.5rem 0 4rem;
    background-color: var(--color-dark-sec);
    width: 100%;
    display: flex;
    max-width: 300px;
    flex-direction: column;
    align-items: center;
    .profile-img {
      width: 100%;
      max-width: 150px;
      border-radius: 100rem;
      overflow: hidden;
      img {
        width: 100%;
      }
    }
    .persona-name {
      margin-top: 1rem;
    }
    .wallet-address {
      max-width: 94px;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-top: 8px;
    }
  }
}
.page-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  .game-container {
    width: 100%;
    background-color: var(--color-dark-sec);
    border-radius: 10px;
    padding: 1rem 2%;
    margin-top: 10px;
    height: 100%;
  }
}
.rank-info-container {
  background-color: var(--color-dark-sec);
  border-radius: 10px;
  padding: 1rem 2%;
  width: 100%;
  margin-bottom: 10px;
  .container-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 1rem 0;
    a {
      background-color: var(--primary-color);
      color: white;
      border: none;
      border-radius: 3px;
      padding: 5px 1.5rem;
      text-decoration: none;
    }
  }
  .rank-info-wrapper {
    width: 100%;
    display: flex;
    align-items: stretch;
    .badge-container {
      width: 100%;
      max-width: 200px;
      height: 200px;
      background: white;
      border-radius: 10px;
      overflow: hidden;
      margin-right: 5px;
      img {
        width: 100%;
      }
    }
    .rank-info {
      margin-left: 5px;

      background-color: #141414;
      max-height: 200px;
      border-radius: 10px;
      display: flex;
      width: 100%;
      align-items: stretch;
      justify-content: space-between;
      padding: 1rem 10%;
      & > div {
        display: flex;
        width: 100%;
        align-items: flex-start;
        flex-direction: column;
        .title {
          display: flex;
          img {
            width: 1.5rem;
            margin-right: 1rem;
            display: block;
          }
          span {
            font-size: 1.5rem;
            font-weight: 500;
          }
        }
        .value {
          margin-left: 3.5rem;
          font-size: 2rem;
          font-weight: 700;
          margin-top: 2rem;
        }
        .badge-name {
          font-size: 2rem;
          margin-top: 2rem;

          font-family: "Nevan";
        }
      }
    }
  }
}
.games-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem 3%;
  div {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 200px;
    background-color: #141414;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    .video-container video {
      width: 100%;
    }
  }
  .title-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 100;
    font-family: "Nevan";
  }
}
.mint-badge-container {
  width: 100%;
  height: 100%;
  padding: 0 4%;
  font-family: "Nevan";
  .mint-badge-wrapper {
    background: rgb(0, 94, 255);
    background: hsla(270, 98%, 43%, 1);

    background: radial-gradient(
      circle,
      hsla(270, 98%, 43%, 1) 0%,
      hsla(215, 95%, 52%, 1) 100%
    );

    background: -moz-radial-gradient(
      circle,
      hsla(270, 98%, 43%, 1) 0%,
      hsla(215, 95%, 52%, 1) 100%
    );

    background: -webkit-radial-gradient(
      circle,
      hsla(270, 98%, 43%, 1) 0%,
      hsla(215, 95%, 52%, 1) 100%
    );

    border-radius: 20px;
    display: flex;
    align-items: stretch;
    section {
      width: 100%;
    }
    section.btns-section {
      padding: 3%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      justify-content: center;
      //   padding-top: 5rem;
      .section-heading {
        font-size: 3rem;
        margin-bottom: 2rem;
        font-weight: 400;
        text-shadow: 4px -4px #005eff;
      }
      & > span {
        font-size: 1.2rem;
        margin-bottom: 3.5rem;
      }
      .btns-wrapper {
        display: flex;
        align-items: stretch;
        .btn-container {
          background-image: hsla(218, 100%, 50%, 1);

          background-image: linear-gradient(
            0deg,
            #6c02d7 0%,
            hsla(192, 100%, 44%, 1) 72%
          );

          background-image: -moz-linear-gradient(
            0deg,
            #6c02d7 0%,
            hsla(192, 100%, 44%, 1) 72%
          );

          background-image: -webkit-linear-gradient(
            0deg,
            #6c02d7 0%,
            hsla(192, 100%, 44%, 1) 72%
          );

          padding: 3px;
          border-radius: 8px;
          margin: 0 8px;

          button {
            border-radius: 8px;
            border: none;
            padding: 8px 1rem;
            display: flex;
            align-items: center;
            background-color: #005eff;
            font-size: 1rem;
            span {
              color: white;
            }
            img {
              width: 1.2rem;
              margin-right: 5px;
            }
          }
        }
      }
    }
    section.img-section {
      padding: 20px;
      padding-left: 0;
      .badge-img-container {
        width: 100%;
        background-color: #005eff;
        border-radius: 20px;

        img {
          width: 100%;
          max-width: 650px;
        }
      }
    }
  }
}
.pte-sidebar {
  position: absolute;
  left: 0rem;
  top: 0;
  width: 18%;
  height: 100%;
  .btns-wrapper {
    border-radius: 8px;

    background-color: #1f1f1f;
    margin: 0 10px;
    padding: 8px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    a {
      color: white;
      display: flex;
      align-items: center;
      padding: 12px;
      width: 100%;
      font-size: 1.1rem;
      font-weight: 600;
      background: #141414;
      // box-shadow: inset 6px 6px 13px #2b2c30,
      //             inset -6px -6px 13px #373a3e;
      border-radius: 5px;
      text-decoration: none;

      margin-bottom: 1.5rem;
      &.active {
        background: hsla(270, 98%, 43%, 1);

        background: linear-gradient(
          0deg,
          hsla(270, 98%, 43%, 1) 0%,
          hsla(267, 94%, 44%, 1) 52%,
          hsla(256, 79%, 50%, 1) 78%,
          hsla(238, 85%, 56%, 1) 87%,
          hsla(218, 100%, 50%, 1) 100%
        );

        background: -moz-linear-gradient(
          0deg,
          hsla(270, 98%, 43%, 1) 0%,
          hsla(267, 94%, 44%, 1) 52%,
          hsla(256, 79%, 50%, 1) 78%,
          hsla(238, 85%, 56%, 1) 87%,
          hsla(218, 100%, 50%, 1) 100%
        );

        background: -webkit-linear-gradient(
          0deg,
          hsla(270, 98%, 43%, 1) 0%,
          hsla(267, 94%, 44%, 1) 52%,
          hsla(256, 79%, 50%, 1) 78%,
          hsla(238, 85%, 56%, 1) 87%,
          hsla(218, 100%, 50%, 1) 100%
        );
      }
    }
  }
}
.pte-mainpage-content {
  min-height: 80vh;
  .content-wrapper {
    width: 82%;
    margin-left: auto;
    padding: 0 10px;
  }
}
.coming-soon-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 20vh;
  h1 {
    font-weight: 400;
    font-size: 2rem;
  }
}
.marketplace-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 4% 0 10px;
}
.top-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
  a {
    background-color: transparent;
    color: #5a5a5a;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 8px 12px;
    border-radius: 100rem;
    text-decoration: none;
    margin: 1rem;
    &.active {
      background-color: var(--primary-color);
      color: white;
    }
  }
}
.top-filters-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #353535;
  flex-wrap: wrap;
  select {
    padding: 12px 1rem;
    border-radius: 10px;
    background-color: transparent;
    font-weight: 600;
    font-size: 1rem;
    appearance: none;
    color: inherit;
    min-width: 200px;
    margin-bottom: 1rem;
    margin-right: 1rem;
    flex-grow: 1;
    border: 1px solid #353535;
    &:focus {
      border: 1px solid white;
    }
  }
}
.bottom-filters-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  button {
    padding: 12px 1rem;
    border-radius: 10px;
    background-color: transparent;
    font-weight: 600;
    font-size: 1rem;
    appearance: none;
    color: inherit;
    min-width: 200px;
    flex-grow: 1;
    margin-top: 1rem;
    margin-right: 1rem;
    border: 1px solid #353535;
    &:focus {
      border: 1px solid #6c02d7;
    }
  }
}

.marketplace-content {
  margin-top: 3rem;
  width: 100%;
  .items-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-content: space-between;
    grid-gap: 1rem;
    width: 100%;
    & > div {
      background-color: #1f1f1f;
      border-radius: 10px;
      padding: 1rem;
      text-align: center;
      min-height: 400px;
    }
  }
}
.modal-wrapper {
  padding: 1.5rem 5%;
  .cross-btn {
    background-color: transparent;
    border: none;
    width: 1rem;
    height: 1rem;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    padding: 0 !important;
  }
}
.referral-modal-content {
  text-align: center;
  width: 100%;
  .modal-heading {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  .modal-text {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 16px;
  }
  .link-container {
    width: 100%;
    display: flex;
    align-items: stretch;
    // border: 2px solid silver;
    overflow: hidden;
    border-radius: 3px;

    span {
      background-color: #141414;
      font-size: 1rem;
      width: 100%;
      padding: 8px;
      max-width: 300px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    button {
      background-color: var(--primary-color);
      color: white;
      font-size: 1.2rem;
      border: none;
      padding: 8px;
      flex-grow: 1;
      // border-left: 2px solid silver;
    }
  }
}
.referral-page {
  .page-header {
    margin-bottom: 2rem;
    button {
      padding: 8px 1rem;
      font-size: 1.1rem;
      color: white;
      font-weight: 600;
      background-color: var(--primary-color);
      border: none;
      border-radius: 5px;
    }
  }
  .page-cards-container {
    .page-card {
      background-color: #1f1f1f;
      padding: 2.5rem 5%;
      border-radius: 15px;
      max-width: 400px;
      img {
        height: 1.3rem;
        margin-top: 2px;
        margin-right: 8px;
      }
      h1 {
        font-size: 2rem;
        margin-bottom: 1.5rem;
      }
    }
  }
  .no-users-warning {
    width: 100%;
    text-align: center;
    color: #aeaeae;
    display: block;
  }
}
.profile-page-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  .profile-img {
    border-radius: 1000rem;
    overflow: hidden;
    max-width: 250px;
    width: 100%;
    padding: 20px;
    background-color: #1f1f1f;
    margin-bottom: 2rem;
    img {
      margin: auto;
    }
  }
  .user-name {
    font-size: 2.3rem;
  }
  .page-cards {
    width: 100%;
    max-width: 1000px;
    margin-top: 4rem;
    .border-div {
      width: 1px;
      background-color: #1f1f1f;
      height: 100%;
      min-height: 100px;
    }
    .page-card img {
      margin-right: 5px;
      width: 1.25rem;
    }

    h5,
    h2 {
      margin-bottom: 0;
    }
  }
}
.profile-button {
  width: 2rem;
  margin: auto;
}

.tournament-page-wrapper {
  position: relative;
  min-height: 80vh;

  .content-wrapper {
    width: 82%;
    margin-left: auto;
    padding: 0 10px;
    display: flex;
    align-items: stretch;
    min-height: 80vh;
    .wrapper {
      border-radius: 8px;
      padding: 1rem 3%;
      height: 100%;
      background-color: #1f1f1f;
    }
    .main-content {
      width: 100%;
      padding: 0 5px;

      .main-content-header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        h1 {
          font-size: 2rem;
          font-size: 500;
          margin-bottom: 1.5rem;
        }
        .filter-wrapper {
          display: flex;
          align-items: flex-start;
          flex-direction: column;
        }
        label {
          font-size: 0.85rem;
          font-weight: 400;
          margin-bottom: 2px;
          color: #aeaeae;
        }
        select {
          display: flex;
          margin-bottom: 1rem;
          justify-content: center;
          align-items: center;
          background-color: transparent;
          border: 2px solid white;
          border-radius: 5px;
          padding: 5px 10px;
          color: white;
          font-size: 1rem;
          font-weight: 500;
          option {
            color: black;
          }
        }
      }
    }
    .filter-sidebar {
      width: 25%;

      padding: 0 5px;
      margin-left: auto;
    }
  }
}
.display-message-container {
  width: 100%;
  text-align: center;
  margin-top: 1.5rem;
}
.tournaments-list-container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem 1%;
}
.tournament-card {
  padding: 5px;
  border-radius: 5px;
  background-color: #141414;
  .img-container {
    width: 100%;
    padding-top: 66%;
    background-color: #2d2d2d;
    border-radius: 5px;
  }
  .card-info-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 8px 4px;
    .card-info-wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
    }
    .card-title {
      font-size: 1.3rem;
      font-weight: 400;
    }
    .card-prize {
      display: flex;
      align-items: center;
      font-size: 0.9rem;
      font-weight: 400;
    }
    button {
      display: flex;
      background-color: #6c02d7;
      color: white;
      border: none;
      text-decoration: none;
      border-radius: 5px;
      align-items: center;
      font-size: 1rem;
      padding: 3px 8px;
      a {
        color: white;
        text-decoration: none;
      }
      span:first-child {
        margin-right: 3px;
      }
      img {
        width: 14px;
        height: auto;
        margin-left: 4px;
      }
    }
  }
}

.create-tournament-section {
  width: 100%;
  header {
    span {
      font-size: 2rem;
      font-size: 500;
      margin-bottom: 1.5rem;
    }
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    max-width: 450px;
  }
  label {
    font-size: 0.9rem;
    color: white;
    margin-bottom: 3px;
  }
  .entry-fee {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: stretch;
    input {
      width: 45%;
    }
  }
  input,
  select {
    width: 100%;
    padding: 8px 1rem;
    border: 1px solid white;
    border-radius: 4px;
    margin-bottom: 1rem;
    color: white;
    font-size: 1rem;
    background-color: transparent;
    &:focus {
      outline: none;
    }
  }
  .submit-btn,
  a {
    text-decoration: none;
    text-align: center;
    width: 100%;
    padding: 8px 1rem;
    border-radius: 4px;
    background-color: #6c02d7;
    color: white;
    border: none;
    margin-top: 1rem;
  }
}
.my-tournaments-section {
  width: 100%;
}

@keyframes blink {
  0% {
    background-color: transparent;
    border-color: white;
  }

  0.01% {
    background-color: green;
    border-color: green;
  }
  49.99% {
    background-color: green;
    border-color: green;
  }

  50% {
    background-color: transparent;
    border-color: white;
  }
  100% {
    background-color: transparent;
    border-color: white;
  }
}
.launchpad-page-wrapper {
  padding: 1rem 5% 3rem;
  .launchpad-partner-section-wrapper {
    margin-top: 2rem;
  }
  .game-slider-section {
    margin: 3rem 0;
    h1 {
      font-size: 2rem;
      font-weight: 400;
      margin-bottom: 1rem;
    }

    .slide-image-container {
      width: 95%;
      .img-wrapper {
        width: 100%;
        padding-top: 55%;
        background-color: white;
        position: relative;
        overflow: hidden;
        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 100%;
        }
      }
    }
  }
}
.launchpad-container {
  background-color: #141415;
  color: white;
  .rounded-corner {
    border-radius: 8px;
  }
  button {
    color: white;
    font-size: 1rem;
    padding: 10px 1rem;
    border: none;
    margin: 5px 0;
    border-radius: 5px;
    background: #141414;
  }
  .neo-container {
    background: #141415;
    box-shadow: 5px 5px 0px #121213, -5px -5px 0px #161617;
  }
  .shadow-box {
    background: #141415;
    box-shadow: 5px 5px 3px #1d1d1e, -5px -5px 3px #0b0b0c;
  }
  .info-stack {
    display: flex;
    flex-direction: column;
    align-items: center;
    h4 {
      font-size: 1rem;
      text-transform: uppercase;
      color: #838383;
      font-weight: 400;
      margin-bottom: 5px;
    }
    h1 {
      font-size: 1.8rem;
      font-weight: 500;
    }
    &.small{
      h1{
        font-size: 1.2rem;
      }
    }
  }
  .tag {
    border: 1px solid silver;
    border-radius: 3px;
    padding: 2px 5px;
    font-size: 0.9rem;
    font-weight: 500;
  }
  .congratulations-wrapper{
    max-width: 80%;
    font-size: 1rem;
    margin: 2rem auto 0;
    .val{
      color: #6c02d7;
      font-weight: 500;
    }
    .claim-btn-wrapper{
      margin-top: 12px;
    }
    .claim-btn{
      padding: 8px 1rem;
      background-color: #6c02d7;
      border-radius: 4px;
      color: white;
      margin-left: 8px;
    }
  }
  .top-info-wrapper {
    width: 100%;
    display: flex;
    align-items: stretch;
    .section-header {
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin-bottom: 2rem;
      img {
        max-width: 250px;
        width: 100%;
        margin: 0 1rem;
      }
      .tags-wrapper {
        .tags {
          display: flex;
          width: 100%;
          justify-content: flex-start;
          .tag {
            margin-right: 1rem;
          }
        }
        h1 {
          width: 100%;
          text-align: center;
          font-size: 3rem;
          font-weight: 400;
          margin-top: 0.5rem;
        }
      }
    }
    .project-description {
      max-width: 100%;
      font-size: 1.1rem;
      text-align: center;
      margin: 0 auto;
      font-weight: 400;
      color: #838383;
    }
    .social-media-btns {
      margin: 1.5rem 0;
      display: flex;
      align-items: center;
      a {
        border-radius: 7px;
        background: #141415;
        box-shadow: 5px 5px 0px #121213, -5px -5px 0px #161617;
        text-decoration: none;
        padding: 8px;
        width: 3rem;
        height: 3rem;
        display: block;
        margin-right: 1rem;
        img {
          width: 100%;
        }
      }
    }
    .io-info {
      display: flex;
      margin-top: 4rem;
      align-items: center;
      justify-content: space-between;
      padding: 0 5%;
    }
    // second section
    .live-tag-container {
      display: flex;
      width: 100%;
      justify-content: flex-end;
      margin-bottom: 1rem;
      .tag {
        animation-name: blink;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        -webkit-transition: none !important;
        -moz-transition: none !important;
        -o-transition: none !important;
        transition: none !important;
      }
    }
    .raised-amount-wrapper {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 1.5rem;
    }
    .start-info {
      display: flex;
      font-size: 1rem;
      b {
        font-weight: 500;
        color: #838383;
      }
    }

    .progress-bar-wrapper {
      width: 100%;
      padding: 2rem 0;
      text-align: center;
      position: relative;
      &::after {
        content: "";
        width: 70%;
        height: 1px;
        background-color: #383535;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0.5rem;
        position: absolute;
      }
      h4 {
        font-size: 1rem;
        font-weight: 400;
        color: #838383;
        margin-bottom: 1rem;
        span {
          font-weight: 600;
        }
      }
      .bar {
        width: 100%;
        height: 16px;
        background-color: #5a5a5a;
        border-radius: 100rem;
        position: relative;
        overflow: hidden;

        .completed-bar {
          &.hidden {
            width: 0% !important;
          }
          transition: all 500ms;
          transition-delay: 400ms;
          position: absolute;
          top: 0;
          left: 0;
          width: 0%;
          height: 100%;
          background-color: #6c02d7;
        }
      }
    }
    & > section {
      width: 100%;
      padding: 2rem 3%;
      // &:first-child {
      //   border-bottom: 1px solid rgb(69, 69, 69);
      // }
    }
  }
  .right-box{
    position: relative;
    .loader-wrapper{
      display: none;

      &.show{
        display: block;
      }
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgb(39, 39, 41,0.5);
      .loader-container{
        margin-top: 20%;
      }

    }
  }
  .bottom-info-wrapper {
    width: 100%;
    margin-top: 6rem;
    .section-heading {
      font-size: 2rem;
      text-transform: uppercase;
      font-weight: 400;
      margin-bottom: 1rem;
      text-align: center;
      width: 100%;
    }
    .info-cards-wrapper {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem 5%;
    }
    .info-card {
      padding: 1.5rem;
      border-radius: 4px;
    }
  }
  .form-container {
    margin-top: 1rem;
    padding: 1rem 5%;
    .deposit-details {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1rem;
      h3 {
        font-weight: 400;
        font-size: 1.2rem;
      }
      h1 {
        font-size: 1.4rem;
        font-weight: 500;
        color: #6c02d7;
      }
    }
    .wallet-balance {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      margin-bottom: 2rem;
      span:nth-child(2) {
        color: #6c02d7;
        margin-left: 8px;
      }
    }
    input {
      border: none;
      padding: 12px 1rem;
      width: 100%;
      color: white;
      font-size: 1.2rem;
      border-radius: 10px;
      &:focus {
        outline: none;
      }
    }
    .approve-btn {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      margin-top: 1rem;
    }
    .wallet-btn {
      width: 100%;
    }
    button {
      border-radius: 2px;
      background: #6c02d7;
      box-shadow: 5px 5px 8px #121212, -5px -5px 8px #161618;
      text-transform: uppercase;
      margin-left: 1.5rem;
      &.approved {
        opacity: 0.3;
        background-color: #8f8f8f;
      }
      &:hover {
        cursor: pointer;
      }
    }
    .offer-info{
      font-size: 0.9rem;
      font-weight: 500;
      color: #727272;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .pte-sidebar {
    width: 22%;
  }
  .pte-mainpage-content {
    .content-wrapper {
      width: 78%;
    }
  }
  .launchpad-container {
    .top-info-wrapper {
      flex-direction: column;
    }
  }
}
@media only screen and (max-width: 992px) {
  .play-to-earn-page,
  .header-top-padding {
    margin-top: 135px;
  }
  .profile-page {
    flex-direction: column;
    .profile-info-container {
      max-width: inherit;
    }
  }
  .games-row {
    grid-template-columns: repeat(3, 1fr);
  }
  .sub-nav-menu-btn {
    display: block;
    z-index: 101;
    &:hover {
      cursor: pointer;
    }
  }
  .pte-sidebar {
    top: 0;
    z-index: 100;
    left: 0;
    transform: translateY(-150%);
    width: 100%;
    &.open {
      transform: translateY(0);
    }
  }
  .pte-mainpage-content {
    .content-wrapper {
      width: 100%;
    }
  }
  .launchpad-container {
    h1 {
      font-size: 1.4rem;
    }
    .bottom-info-wrapper {
      flex-direction: column;
      & > section {
        width: 100%;
        margin-bottom: 2rem;
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  .play-to-earn-page,
  .header-top-padding {
    margin-top: 240px;
  }

  .games-row {
    grid-template-columns: repeat(2, 1fr);
  }
  .launchpad-container {
    padding: 1rem 3% 0;
    .top-info-wrapper {
      .raised-amount-wrapper {
        flex-direction: column;
        align-items: center;
        & > div {
          margin-bottom: 1rem;
          width: 100%;
          button {
            width: 100%;
          }
        }
      }
    }
    .bottom-info-wrapper {
      .info-cards-wrapper {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}
@media only screen and (max-width: 600px) {
  .play-to-earn-page,
  .header-top-padding {
    margin-top: 160px;
  }
  .rank-info-container {
    .rank-info-wrapper {
      flex-direction: column;
      align-items: center;
      .badge-container {
        margin-bottom: 1rem;
      }
    }
  }

  .games-row {
    grid-template-columns: repeat(1, 1fr);
  }
  .launchpad-container {
    .top-info-wrapper {
      .section-header {
        img {
          max-width: 150px;
        }
        .tags-wrapper {
          h1 {
            font-size: 2rem;
          }
        }
      }
    }
    .bottom-info-wrapper {
      .info-cards-wrapper {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}
.css-loader {
	position: relative;
	width: 78px;
	height:78px;
	margin:auto;
}

.css-loader .wBall {
	position: absolute;
	width: 74px;
	height: 74px;
	opacity: 0;
	transform: rotate(225deg);
		-o-transform: rotate(225deg);
		-ms-transform: rotate(225deg);
		-webkit-transform: rotate(225deg);
		-moz-transform: rotate(225deg);
	animation: orbit 4.8425s infinite;
		-o-animation: orbit 4.8425s infinite;
		-ms-animation: orbit 4.8425s infinite;
		-webkit-animation: orbit 4.8425s infinite;
		-moz-animation: orbit 4.8425s infinite;
}

.css-loader .wBall .wInnerBall{
	position: absolute;
	width: 10px;
	height: 10px;
	background: rgba(255, 255, 255, 0.97);
	left:0px;
	top:0px;
	border-radius: 10px;
}

.css-loader #wBall_1 {
	animation-delay: 1.056s;
		-o-animation-delay: 1.056s;
		-ms-animation-delay: 1.056s;
		-webkit-animation-delay: 1.056s;
		-moz-animation-delay: 1.056s;
}

.css-loader #wBall_2 {
	animation-delay: 0.203s;
		-o-animation-delay: 0.203s;
		-ms-animation-delay: 0.203s;
		-webkit-animation-delay: 0.203s;
		-moz-animation-delay: 0.203s;
}

.css-loader #wBall_3 {
	animation-delay: 0.4265s;
		-o-animation-delay: 0.4265s;
		-ms-animation-delay: 0.4265s;
		-webkit-animation-delay: 0.4265s;
		-moz-animation-delay: 0.4265s;
}

.css-loader #wBall_4 {
	animation-delay: 0.6295s;
		-o-animation-delay: 0.6295s;
		-ms-animation-delay: 0.6295s;
		-webkit-animation-delay: 0.6295s;
		-moz-animation-delay: 0.6295s;
}

.css-loader #wBall_5 {
	animation-delay: 0.843s;
		-o-animation-delay: 0.843s;
		-ms-animation-delay: 0.843s;
		-webkit-animation-delay: 0.843s;
		-moz-animation-delay: 0.843s;
}



@keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		transform: rotate(180deg);
		animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		transform: rotate(300deg);
		animation-timing-function: linear;
		origin:0%;
	}

	30% {
		opacity: 1;
		transform:rotate(410deg);
		animation-timing-function: ease-in-out;
		origin:7%;
	}

	39% {
		opacity: 1;
		transform: rotate(645deg);
		animation-timing-function: linear;
		origin:30%;
	}

	70% {
		opacity: 1;
		transform: rotate(770deg);
		animation-timing-function: ease-out;
		origin:39%;
	}

	75% {
		opacity: 1;
		transform: rotate(900deg);
		animation-timing-function: ease-out;
		origin:70%;
	}

	76% {
	opacity: 0;
		transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		transform: rotate(900deg);
	}
}

@-o-keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		-o-transform: rotate(180deg);
		-o-animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		-o-transform: rotate(300deg);
		-o-animation-timing-function: linear;
		-o-origin:0%;
	}

	30% {
		opacity: 1;
		-o-transform:rotate(410deg);
		-o-animation-timing-function: ease-in-out;
		-o-origin:7%;
	}

	39% {
		opacity: 1;
		-o-transform: rotate(645deg);
		-o-animation-timing-function: linear;
		-o-origin:30%;
	}

	70% {
		opacity: 1;
		-o-transform: rotate(770deg);
		-o-animation-timing-function: ease-out;
		-o-origin:39%;
	}

	75% {
		opacity: 1;
		-o-transform: rotate(900deg);
		-o-animation-timing-function: ease-out;
		-o-origin:70%;
	}

	76% {
	opacity: 0;
		-o-transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		-o-transform: rotate(900deg);
	}
}

@-ms-keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		-ms-transform: rotate(180deg);
		-ms-animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		-ms-transform: rotate(300deg);
		-ms-animation-timing-function: linear;
		-ms-origin:0%;
	}

	30% {
		opacity: 1;
		-ms-transform:rotate(410deg);
		-ms-animation-timing-function: ease-in-out;
		-ms-origin:7%;
	}

	39% {
		opacity: 1;
		-ms-transform: rotate(645deg);
		-ms-animation-timing-function: linear;
		-ms-origin:30%;
	}

	70% {
		opacity: 1;
		-ms-transform: rotate(770deg);
		-ms-animation-timing-function: ease-out;
		-ms-origin:39%;
	}

	75% {
		opacity: 1;
		-ms-transform: rotate(900deg);
		-ms-animation-timing-function: ease-out;
		-ms-origin:70%;
	}

	76% {
	opacity: 0;
		-ms-transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		-ms-transform: rotate(900deg);
	}
}

@-webkit-keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		-webkit-transform: rotate(180deg);
		-webkit-animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		-webkit-transform: rotate(300deg);
		-webkit-animation-timing-function: linear;
		-webkit-origin:0%;
	}

	30% {
		opacity: 1;
		-webkit-transform:rotate(410deg);
		-webkit-animation-timing-function: ease-in-out;
		-webkit-origin:7%;
	}

	39% {
		opacity: 1;
		-webkit-transform: rotate(645deg);
		-webkit-animation-timing-function: linear;
		-webkit-origin:30%;
	}

	70% {
		opacity: 1;
		-webkit-transform: rotate(770deg);
		-webkit-animation-timing-function: ease-out;
		-webkit-origin:39%;
	}

	75% {
		opacity: 1;
		-webkit-transform: rotate(900deg);
		-webkit-animation-timing-function: ease-out;
		-webkit-origin:70%;
	}

	76% {
	opacity: 0;
		-webkit-transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		-webkit-transform: rotate(900deg);
	}
}

@-moz-keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		-moz-transform: rotate(180deg);
		-moz-animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		-moz-transform: rotate(300deg);
		-moz-animation-timing-function: linear;
		-moz-origin:0%;
	}

	30% {
		opacity: 1;
		-moz-transform:rotate(410deg);
		-moz-animation-timing-function: ease-in-out;
		-moz-origin:7%;
	}

	39% {
		opacity: 1;
		-moz-transform: rotate(645deg);
		-moz-animation-timing-function: linear;
		-moz-origin:30%;
	}

	70% {
		opacity: 1;
		-moz-transform: rotate(770deg);
		-moz-animation-timing-function: ease-out;
		-moz-origin:39%;
	}

	75% {
		opacity: 1;
		-moz-transform: rotate(900deg);
		-moz-animation-timing-function: ease-out;
		-moz-origin:70%;
	}

	76% {
	opacity: 0;
		-moz-transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		-moz-transform: rotate(900deg);
	}
}